@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8fafc;
  color: #111827;
}

input,
textarea,
select {
  background: white;
}

.property-popup .maplibregl-popup-content {
  padding: 0;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
}

.property-popup .maplibregl-popup-tip {
  display: none;
}
